# Compiled class files
*.class
*.war
*.jar

# Log files
*.log
logs/
log/
*.pid

# Maven target directory
/target/
/out/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# Eclipse files
.classpath
.project
.settings/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/node_modules/
/bower_components/

# Database
*.db
*.sqlite

.mvn/
